.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.textDisplay {
    font-size: 2em;
    height: 21vh;
    margin: 12px;
    word-wrap: break-word;
}

.clearButton {
    height: 8vh;
    width: 100vw;
    font-size: 1.5em;
}

.deleteButton {
    background-color: #ffb2b2;
}
