.switcherContainer {
    display: flex;
}

.switcherButton {
    flex-grow: 1;
    height: 8vh;
    width: 33.33vw;
    font-size: 1.5em;
}

.selectedGroupButton {
    background-color: #99cc99;
}

.groupButton {
    background-color: #e5f2e5;
}
